@charset "UTF-8";
.header_top {
  background: #202020;
  height: 32px;
}
.header_top .header_top_content {
  height: 100%;
  color: #898989;
}
.header_top .header_navbar_left {
  display: flex;
}
.header_top .header_icon_time {
  height: 100%;
}
.header_top .header_icon_time a {
  font-size: 13px;
}
.header_top .header_icon {
  height: 100%;
}
.header_top .header_icon a {
  font-size: 13px;
}
.header_top .header_icon a:hover {
  color: #3fb871;
  cursor: pointer;
}
.header_top .header_icon i {
  font-size: 13px;
}
.header_top .col-md-4 i {
  width: 36px;
  text-align: center;
}
.header_top .col-md-4 span {
  color: #898989;
}
.header_top .header_navbar_right a {
  margin-right: 5%;
  margin-left: 5%;
  color: #aaaaaa;
}
.header_top .header_navbar_right a i {
  font-size: 13px;
}
.header_top .header_navbar_right a:hover {
  color: #3fb871;
}

.header {
  background: url("../images/hdt.png");
}
.header .header_logo_name {
  padding-top: 4%;
}
.header .header_img {
  display: flex;
}
.header .header_img h1 {
  font-family: "VNF MuseoBook";
  color: #3fb871;
}
.header .header_img span {
  font-family: "VNF Shelia";
}
.header .header_logo_img {
  padding: 0px;
}
.header .header_contact p.header_help {
  margin-top: 30px;
  text-align: center;
  color: #898989;
}
.header .header_contact p.search {
  color: #898989;
  background: #fff;
  padding: 10px;
  border-radius: 50px;
}
.header .header_contact p.search a {
  float: right;
}
.header .header_contact p.search a i {
  border-left: 1px solid #aaaaaa;
}
.header .header_contact p.search a i::before {
  padding-left: 15px;
}
.header .header_card {
  margin-top: 7%;
  padding: 0;
}
.header .header_card a {
  color: #898989;
}
.header .header_card a:hover {
  color: #3fb871;
  text-decoration: none;
}
.header .header_card i::before {
  padding-right: 5px;
}

.menu {
  background: #3fb871;
  text-transform: uppercase;
}
.menu a {
  color: #ffffff;
}
.menu .navbar {
  width: 100%;
}
.menu .navbar-nav {
  padding-left: 15px;
}
.menu .navbar-nav li {
  padding: 5px;
}
.menu .navbar-nav li a {
  padding: 14px 20px;
}
.menu .navbar-nav li a:hover {
  color: white;
  text-decoration: underline;
}
.menu .navbar-nav ul.dropdown-menu li:hover {
  color: #3fb871;
  background: #3fb871;
}
.menu .navbar-nav ul.dropdown-menu li a {
  color: #3fb871;
  text-decoration: none;
  padding: 14px 19px;
}
.menu .navbar-nav ul.dropdown-menu li a:hover {
  color: white;
  background: none;
}
.menu .icon_menu {
  width: 35px;
}
.menu .icon_menu .menu_icon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

p {
  font-size: 14px;
}

#footer {
  background: #313131;
  margin-top: 40px;
}
#footer .socials {
  padding-top: 30px;
}
#footer .socials .socials_email, #footer .socials .socials_name, #footer .socials .socials_icon a i {
  color: #898989;
  text-transform: uppercase;
}
#footer .socials .socials_icon i {
  padding-right: 25px;
}
#footer .socials .socials_icon i:hover {
  color: #3fb871;
}
#footer .socials .socials_icon .socials_name {
  font-size: 14px;
}
#footer .socials .socials_email p {
  padding-left: 3px;
}
#footer .socials .socials_button .textbox {
  width: 90%;
  float: right;
  padding: 8px;
}
#footer .socials .socials_button i {
  background: #3fb871;
  padding: 14px;
  float: right;
}
#footer hr {
  background: #898989;
}
#footer .about_us {
  color: #898989;
}
#footer .about_us .title_contact p {
  line-height: 28px;
  color: #898989;
}
#footer .about_us .title_contact i {
  line-height: 34px;
}
#footer .about_us .title_contact i a {
  font-family: "Times New Roman";
  font-weight: initial;
}
#footer .about_us .title_contact i::before {
  padding-right: 10px;
  color: #3fb871;
}
#footer .about_us .customer1, #footer .about_us .customer2, #footer .about_us .customer3, #footer .about_us .customer4 {
  margin: 30px 0px;
  padding: 0;
}
#footer .about_us .customer1 p, #footer .about_us .customer2 p, #footer .about_us .customer3 p, #footer .about_us .customer4 p {
  color: #3fb871;
  text-transform: uppercase;
}
#footer .about_us .customer1 ul, #footer .about_us .customer2 ul, #footer .about_us .customer3 ul, #footer .about_us .customer4 ul {
  padding: 0;
  line-height: 41px;
  font-size: 13px;
}
#footer .about_us .customer1 ul li, #footer .about_us .customer2 ul li, #footer .about_us .customer3 ul li, #footer .about_us .customer4 ul li {
  list-style: none;
}
#footer .about_us .customer1 ul li:hover, #footer .about_us .customer2 ul li:hover, #footer .about_us .customer3 ul li:hover, #footer .about_us .customer4 ul li:hover {
  color: #3fb871;
  cursor: pointer;
}
#footer .about_us .customer1 ul li i::before, #footer .about_us .customer2 ul li i::before, #footer .about_us .customer3 ul li i::before, #footer .about_us .customer4 ul li i::before {
  padding-right: 4px;
}
#footer .about_us .customer1 {
  padding-left: 17px;
}
#footer .about_us .customer2 {
  padding-left: 30px;
}
#footer .about_us .customer3 {
  padding-left: 17px;
}
#footer .about_us .customer4 {
  padding-left: 36px;
}
#footer .contact .contact_left {
  padding: 10px 0px;
}
#footer .contact .contact_left ul {
  padding: 0;
}
#footer .contact .contact_left ul li {
  display: inline;
  padding-right: 20px;
}
#footer .contact .contact_left ul li a {
  color: #898989;
  font-size: 13px;
}
#footer .contact .contact_left ul li a:hover {
  color: #3fb871;
  cursor: pointer;
}
#footer .contact .contact_right {
  float: right;
}
#footer .contact .contact_right ul {
  padding: 10px 10px;
}
#footer .contact .contact_right ul li {
  display: inline;
}
#footer .contact .contact_right ul li a {
  padding-right: 10px;
  font-size: 18px;
  color: #898989;
}
#footer .contact .contact_right ul li a:hover {
  color: #3fb871;
  cursor: pointer;
}
#footer .design {
  background: #434343;
  color: #898989;
  justify-content: center;
}

p {
  font-size: 13px;
  color: #aaaaaa;
}

body {
  background: #fbf9f9;
}

.section_title_all {
  width: 100%;
  font-family: "RobotoSlab Bold";
  padding-top: 40px;
  color: #3fb871;
}
.section_title_all span {
  border-bottom: 2px solid #3fb871;
  padding-bottom: 17px;
  font-weight: bold;
}

.link_page .container {
  padding-left: 3%;
}
.link_page .visited_name {
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 13px;
}
.link_page .visited_name span {
  color: #3fb871;
}
.link_page .visited_name span::before {
  content: "/ ";
  padding-left: 3px;
}

.content .container {
  padding-left: 3%;
}
.content .section_product_item ul {
  padding: 0;
  width: 100%;
}
.content .section_product_item ul li {
  list-style: none;
  border-bottom: 1px solid #aaaaaa;
  padding: 10px 0px;
}
.content .section_product_item ul li:hover {
  color: #3fb871;
  cursor: pointer;
}
.content .section_product_item ul li i {
  color: #aaaaaa;
}
.content .section_product_item ul li i p {
  color: #3fb871;
  float: right;
  margin: 0;
  font-size: 15px;
}
.content .section_product_item ul li i::before {
  padding-right: 5px;
}
.content .section_product_item ul li i:hover {
  color: #3fb871;
  cursor: pointer;
}
.content .section_product_image {
  margin-top: 30px;
}
.content .section_product_image .col-md-4, .content .section_product_image .col-md-8 {
  padding: 0;
  padding-bottom: 20px;
}
.content .section_product_image .col-md-4 p, .content .section_product_image .col-md-8 p {
  color: black;
  font-size: 13px;
}
.content .blog_tag1 .blog_tag_item1_1 {
  margin-right: 13px;
}
.content .blog_tag1 .blog_tag_item1_1 a {
  padding: 7px;
}
.content .blog_tag1 .blog_tag_item1_1 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag1 .blog_tag_item1_2 a {
  padding: 7px 24px;
}
.content .blog_tag1 .blog_tag_item1_2 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag2 .blog_tag_item2_1 {
  margin-right: 13px;
}
.content .blog_tag2 .blog_tag_item2_1 a {
  padding: 7px 7px;
}
.content .blog_tag2 .blog_tag_item2_1 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag2 .blog_tag_item2_2 {
  margin-right: 13px;
}
.content .blog_tag2 .blog_tag_item2_2 a {
  padding: 7px 10px;
}
.content .blog_tag2 .blog_tag_item2_2 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag2 .blog_tag_item2_3 a {
  padding: 7px 10px;
}
.content .blog_tag2 .blog_tag_item2_3 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag3 .blog_tag_item3_1 {
  margin-right: 13px;
}
.content .blog_tag3 .blog_tag_item3_1 a {
  padding: 7px 22px;
}
.content .blog_tag3 .blog_tag_item3_1 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag3 .blog_tag_item3_2 a {
  padding: 7px 20px;
}
.content .blog_tag3 .blog_tag_item3_2 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag4 .blog_tag_item4_1 {
  margin-right: 13px;
}
.content .blog_tag4 .blog_tag_item4_1 a {
  padding: 7px 24px;
}
.content .blog_tag4 .blog_tag_item4_1 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag4 .blog_tag_item4_2 a {
  padding: 7px 24px;
}
.content .blog_tag4 .blog_tag_item4_2 a:hover {
  background: #3fb871;
  color: white;
  cursor: pointer;
}
.content .blog_tag1, .content .blog_tag2, .content .blog_tag3, .content .blog_tag4 {
  margin-top: 30px;
}
.content .blog_tag1 a, .content .blog_tag2 a, .content .blog_tag3 a, .content .blog_tag4 a {
  color: #aaaaaa;
  border: 1px solid #aaaaaa;
}
.content .section_gallery {
  padding-left: 30px;
}
.content .section_gallery p {
  font-size: 13px;
}
.content .section_gallery img {
  width: 100%;
  margin-top: 40px;
}
.content .section_gallery .section_gallery_title {
  display: block;
  margin-top: 40px;
}
.content .section_gallery .section_gallery_title .section_gallery_name p {
  color: black;
  font-size: 18px;
}
.content .section_gallery .section_gallery_title .section_gallery_time i {
  padding-right: 15px;
}
.content .section_gallery .section_gallery_title .section_gallery_time i::before {
  color: #3fb871;
  padding-right: 10px;
}
.content .section_gallery .section_gallery_img img {
  margin-top: 0;
}
.content .section_gallery .section_gallery_content {
  margin-top: 32px;
}

.comment .comment_right {
  margin-top: 105px;
  padding-left: 50px;
}
.comment .comment_right hr {
  margin: 40px 0px;
}
.comment .comment_name_all p {
  text-transform: uppercase;
  font-weight: bold;
  color: #636363;
  font-size: 18px;
}
.comment .comment_right_content .comment_img {
  padding: 0;
  margin-right: -27px;
}
.comment .comment_right_content .comment_text {
  padding: 0;
}
.comment .comment_right_content .comment_text p {
  font-size: 13px;
}
.comment .comment_right_content .comment_text .name_comment {
  font-weight: bold;
  color: #363533;
}
.comment .comment_right_content .comment_text .name_comment p {
  font-size: 14px;
}
.comment .comment_right_content .comment_text .name_comment a {
  float: right;
  text-decoration: underline;
}
.comment .comment_right_content .comment_text .name_comment a:hover {
  color: #3fb871;
  cursor: pointer;
}
.comment .comment_right_content .comment_text .content_comment {
  padding-right: 20px;
}
.comment .comment_right_content .comment_text .date_comment {
  font-style: italic;
}
.comment .reply_text_reply {
  padding-left: 40px;
}
.comment .reply_content {
  padding: 0;
}
.comment .reply_content p {
  font-size: 13px;
}
.comment .reply_content .name_reply {
  font-weight: bold;
  color: #363533;
}
.comment .reply_content .name_reply p {
  font-size: 14px;
}
.comment .reply_content .name_reply a {
  float: right;
  text-decoration: underline;
  margin-right: 28px;
}
.comment .reply_content .name_reply a:hover {
  color: #3fb871;
  cursor: pointer;
  text-decoration: underline;
}
.comment .reply_content .date_reply {
  font-style: italic;
}
.comment .write_infor {
  margin-bottom: 22px;
}
.comment .write_infor input {
  padding: 9px 84px 9px 20px;
  font-size: 13px;
}
.comment .write_infor .write_name, .comment .write_infor .write_email {
  margin-right: 38px;
}
.comment .write_place input {
  padding-bottom: 117px;
  width: 100%;
  padding-left: 20px;
  font-size: 13px;
}
.comment .write_button {
  float: right;
}
.comment .write_button .btn_send {
  border-radius: 50px;
  padding: 10px 62px;
  color: #3fb871;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 25px;
  border: 1px solid #3fb871;
}
.comment .write_button .btn_send:hover {
  color: white;
  background: #3fb871;
  border: 1px solid #3fb871;
  cursor: pointer;
}

/*# sourceMappingURL=comment.css.map */
