mixin circle()
  .row.item
    .col-md-5.left
      i.fas.fa-circle.circle-green Xanh cây
      i.fas.fa-circle.circle-purple Tím
      i.fas.fa-circle.circle-yellow Vàng

    .col-md-6.right
      i.fas.fa-circle.circle-red Đỏ cam
      i.fas.fa-circle.circle-blue Xanh trời
      i.fas.fa-circle.circle-pink Hồng