doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Green Shop
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')

		//- Font-awesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')

		link(rel='stylesheet', type='text/css', href='../maincss/footer.css')
		//- Font-family
		link(href='https://fonts.googleapis.com/css?family=Rochester', rel='stylesheet')
		
	body
		#footer.row
			.container
				.socials.row
					.socials_icon.col-md-4 
						.socials_name Kênh thông tin từ chúng tôi:
						.socials_icon
							a(href='#')
								i.fab.fa-facebook-f(title='Facebook')
							a(href='#')
								i.i.fab.fa-youtube(title='Youtube')
							a(href='#')
								i.fab.fa-tumblr(title='Pinterest')
							a(href='#')
								i.i.fab.fa-vimeo-v(title='Vimeo')
					.socials_email.col-md-2 
						p Đăng ký nhận email từ chúng tôi
					.socials_button.col-md-6
						i.fab.fa-telegram-plane
						input.textbox(type='text')
				hr
				.about_us.row
					.title_contact.col-md-4
						img(src='../images/title2.png')
						p Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển
						i.fas.fa-mobile-alt 
							a Điện thoại : (84-4) 66.558.868
						i.far.fa-envelope Email: info@dkt.com.vn
					.customer1.col-md-2
						p Thông tin khách hàng
						ul
							li
								i.fas.fa-chevron-right Tài khoản của tôi
							li
								i.fas.fa-chevron-right Sản phẩm yêu thích
							li
								i.fas.fa-chevron-right Lịch sử mua hàng
							li
								i.fas.fa-chevron-right Chính sách đổi trả
							li
								i.fas.fa-chevron-right Góp ý, khiếu nại
					.customer2.col-md-2
						p Hỗ trợ dịch vụ
						ul
							li
								i.fas.fa-chevron-right Hệ thống cửa hàng
							li
								i.fas.fa-chevron-right Hướng dẫn mua hàng
							li
								i.fas.fa-chevron-right Hướng dẫn thanh toán
							li
								i.fas.fa-chevron-right Tích điểm đổi quà
							li
								i.fas.fa-chevron-right Câu hỏi thường gặp
					.customer3.col-md-2
						p Chính sách ưu đãi
						ul
							li
								i.fas.fa-chevron-right Chính sách giao hàng
							li
								i.fas.fa-chevron-right Chính sách đổi trả sản phẩm
							li
								i.fas.fa-chevron-right Chính sách bảo hành
							li
								i.fas.fa-chevron-right Giới thiệu sản phẩm mới
							li
								i.fas.fa-chevron-right Chính sách trả góp
					.customer4.col-md-2
						p Tin tức
						ul
							li
								i.fas.fa-chevron-right Tin mới
							li
								i.fas.fa-chevron-right Khuyến mại
							li
								i.fas.fa-chevron-right Tuyển dụng
							li
								i.fas.fa-chevron-right Dowload
							li
								i.fas.fa-chevron-right Tags
				hr
				.contact.row
					.col-md-8
						.contact_left
							ul
								li
									a Sitemap
								li
									a Danh mục sản phẩm
								li
									a Hợp tác
								li
									a Thông tin liên hệ
								li
									a Câu hỏi thường gặp
					.col-md-4
						.contact_right
							ul
								li
									a
										i.fab.fa-cc-visa
									a
										i.fab.fa-cc-mastercard
									a
										i.fab.fa-cc-paypal
									a
										i.fab.fa-cc-discover

					.contact_right
				.design.row
					p Thiết kế bởi  Bizweb &copy;