mixin detail_socials()
  .detail__section__item__socials__facebook
    i.fab.fa-facebook-square Like
    span.tooltiptext 0
  .detail__section__item__socials__tweet
    i.fab.fa-twitter Tweet
  .detail__section__item__socials__google
    i.fab.fa-google-plus-g 1
    span.tooltiptext 0
  .detail__section__item__socials__share
    i.fas.fa-plus-square Share