doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Green Shop
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')

		//- Font-awesome
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')

		link(rel='stylesheet', type='text/css', href='../maincss/home.css')
		//- Font-family
		link(href='https://fonts.googleapis.com/css?family=Rochester', rel='stylesheet')
		

	body
		.container-fluid
			//- Header
			include ../import/header

			//- Banner
			#banner.row
				.banner_img
					img(src='../images/slide.png')
					.banner_circle
						a
							i.fas.fa-circle
						a
							i.fas.fa-circle.cir_gr
						a
							i.fas.fa-circle
			//- //Banner

			//- Section 1
			#section1.row
				.container
					.row.section1_row_title
						.section_title_all
							h5 
								span Sản phẩm nổi bật
							hr
						//- Gallery left
						.section_gallery_left.col-md-6
							//- Section con left 1
							.row.section_item_left1
								img(src='../images/sp4.png')
								.section_item_all Cây chân chim
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 250.000 đ  
									a.secondprice 250.000 đ
								.section1_search
									i.fas.fa-search
								.section1_new New
								.section1_buy Mua Ngay

								//- Section con left 2
							.row.section_item_left2
								.section_item_con1.col-md-6
									//- Section con left 2.1
									.section_con1
										img(src='../images/sp11.png')
										.section_item_all Cây cọ ta
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 150.000 đ  
											a.secondprice 250.000 đ
								.section_item_con1.col-md-6
									//- Section con left 2.2
									.section_con2
										img(src='../images/sp6.png')
										.section_item_all Cây dứa nhỏ
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 375.000 đ  
											a.secondprice 250.000 đ

						//- Gallery right
						.section_gallery_right.col-md-6
							//- Section con right 2
							.row.section_item_right2
								.section_item_con1.col-md-6
									//- Section con right 2.1
									.section_con1
										img(src='../images/sp5.png')
										.section_item_all Cây Dạ Lam
											.section1_discount -50%
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 500.000 đ  
											a.secondprice 250.000 đ
								.section_item_con1.col-md-6
									//- Section con right 2.2
									.section_con2
										img(src='../images/sp15.png')
										.section_item_all Cây Danh Dự
											.section1_new New
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 850.000 đ  
											a.secondprice 250.000 đ
							//- Section con right 1
							.row.section_item_right1
								img(src='../images/sp3.png')
								.section1_discount -50%
								.section_item_all Cây đa búp đỏ
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 1.000.000 đ  
									a.secondprice 250.000 đ
			//- //Section 1

			//- Section 2
			#section2.row
				.container
					.row
						//- Section 2 left
						.section2_left.col-md-3
							.row.section2_row1
								.section_title_all
									h5 
										span Sản phẩm mua nhiều
									hr
							.row.section2_row2
								.row.section2_item
									.section2_img.col-md-5
										img(src='../images/sp16.png')
									.section2_5item.col-md-6 Cây chân chim
										br
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star-half
										a.mainprice 250.000 đ

								.row.section2_item
									.section2_img.col-md-5
										img(src='../images/sp9.png')
									.section2_5item.col-md-6 Cây Dạ Lam
										br
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star-half
										a.mainprice 250.000 đ

								.row.section2_item
									.section2_img.col-md-5
										img(src='../images/sp15.png')
									.section2_5item.col-md-6 Cây Danh Dự
										br
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star-half
										a.mainprice 150.000 đ

								.row.section2_item
									.section2_img.col-md-5
										img(src='../images/sp13.png')
									.section2_5item.col-md-6 Cây đa búp đỏ
										br
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star-half
										a.mainprice 200.000 đ

								.row.section2_item
									.section2_img.col-md-5
										img(src='../images/sp5.png')
									.section2_5item.col-md-6 Cây cọ ta
										br
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star
										i.fas.fa-star-half
										a.mainprice 300.000 đ
						//- Section 2 right
						.section2_right.col-md-9
							.row.section2_rowright
								.section_title_all
									h5 
										span Sản phẩm khuyến mãi
									i.fas.fa-chevron-circle-right
									i.fas.fa-chevron-circle-left
									hr
							//- Row right 1
							.row.section2_row_content1
								.col-md-4
									.section2_item_con_right
										img(src='../images/sp15.png')
										.section_item_all Cây Danh Dự
											.section1_discount -25%
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 475.000 đ  
											a.secondprice 250.000 đ
								.col-md-4
									.section2_item_con_right
										img(src='../images/sp13.png')
										.section_item_all Cây dứa nhỏ
											.section1_discount -10%
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 668.000 đ  
											a.secondprice 250.000 đ
								.col-md-4
									.section2_item_con_right
										img(src='../images/sp11.png')
										.section_item_all Cây cọ ta
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 770.000 đ  
											a.secondprice 250.000 đ
							//- Row right 2
							.row.section2_row_content2
								.col-md-4
									.section2_item_con_right
										img(src='../images/sp2.png')
										.section_item_all Cây Dạ Lam
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 555.000 đ  
											a.secondprice 250.000 đ
								.col-md-4
									.section2_item_con_right
										img(src='../images/sp8.png')
										.section_item_all Cây Danh Dự
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 780.000 đ  
											a.secondprice 250.000 đ
								.col-md-4
									.section2_item_con_right
										img(src='../images/sp1.png')
										.section_item_all Cây Dạ Lam
											br
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
											br
											a.mainprice 680.000 đ  
											a.secondprice 250.000 đ
			//- //Section 2

			//- Section 3
			#section3.row
				.container
					.section3_row_img.row
						img(src='../images/st3.png')
					.row
						.section_title_all
							h5
								span Sản phẩm mới
							i.fas.fa-chevron-circle-right
							i.fas.fa-chevron-circle-left
							hr
					.section3_row1.row
						.col-md-3
							.section2_item_con_right
								img(src='../images/sp15.png')
								.section_item_all Cây Danh Dự
									.section1_new New
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 250.000 đ  
									a.secondprice 250.000 đ
						.col-md-3
							.section2_item_con_right
								img(src='../images/sp7.png')
								.section_item_all Cây xương rồng
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 250.000 đ  
									a.secondprice 250.000 đ
						.col-md-3
							.section2_item_con_right
								img(src='../images/sp13.png')
								.section_item_all Cây Dạ Lam
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 250.000 đ  
									a.secondprice 250.000 đ
						.col-md-3
							.section2_item_con_right
								img(src='../images/sp11.png')
								.section_item_all Cây dứa nhỏ
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 250.000 đ  
									a.secondprice 250.000 đ

					.row.section3_row2
						.col-md-3
							.section2_item_con_right
								img(src='../images/sp1.png')
								.section_item_all Cây Danh Dự
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 680.000 đ  
									a.secondprice 250.000 đ
						.col-md-3
							.section2_item_con_right
								img(src='../images/sp5.png')
								.section_item_all Cây Dạ Lam
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 880.000 đ  
									a.secondprice 250.000 đ
						.col-md-3
							.section2_item_con_right
								img(src='../images/sp2.png')
								.section_item_all Cây chân chim
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 750.000 đ  
									a.secondprice 250.000 đ
						.col-md-3
							.section2_item_con_right
								img(src='../images/sp12.png')
								.section_item_all Cây đa búp đỏ
									br
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star
									i.fas.fa-star-half
									br
									a.mainprice 150.000 đ  
									a.secondprice 250.000 đ
			//- //Section 3

			//- Section 4
			#section4.row
				.container
					.section4_row_title.row
						.section_title_all
							h5
								span Tin tức
							hr
					.section4_row_content.row
						.section4_col.col-md-4
							.section4_content_img
								img(src='../images/ct1.png')
							.section4_date Thứ 7, ngày 31, tháng 12, năm 2015
							.section4_topic 15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê
							.section4_description Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào, cửa sổ, chậu hoa,....
							.section4_readmore Đọc tiếp

						.section4_col.col-md-4
							.section4_content_img
								img(src='../images/ct2.png')
							.section4_date Thứ 7, ngày 31, tháng 12, năm 2015
							.section4_topic 15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê
							.section4_description Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào, cửa sổ, chậu hoa,....
							.section4_readmore Đọc tiếp

						.section4_col.col-md-4
							.section4_content_img
								img(src='../images/ct3.png')
							.section4_date Thứ 7, ngày 31, tháng 12, năm 2015
							.section4_topic 15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê
							.section4_description Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào, cửa sổ, chậu hoa,....
							.section4_readmore Đọc tiếp
			//- //Section 4

			//- Footer
			include ../import/footer
