.item {
  i {
    float: left;
    padding: 20px 0px;
    color: $color-gray;
    &::before {
      font-size: 24px;
      padding-right: 10px;
    }
  }
  .left {
    padding: 0;
    .circle-green {
      &::before {
        color: #98cb4a;
      }
    }
    .circle-purple {
      &::before {
        color: #913ccd;
      }
    }
    .circle-yellow {
      &::before {
        color: #f7d842;
      }
    }
  }

  .right {
    margin-left: 8%;
    .circle-red {
      &::before {
        color: #f76d3c;
      }
    }
    .circle-blue {
      &::before {
        color: #5481e6;
      }
    }
    .circle-pink {
      &::before {
        color: #f15f74;
      }
    }
  }
}

